<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src = "myApp.js"></script>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="style.css" rel="stylesheet" type="text/css">
<div id="gallery" ng-app='myApp' ng-controller='GalleryController'>
    <div id="gallery-container">
        <div  ng-init="images.fill(mock)">
            <div class="big-image-container">
                <div class="arrow-container">
                    <span class="glyphicon glyphicon-chevron-left col-xs-1" ng-click="images.prevBig()"></span>
                </div>
                <div class="big-image">
                    <img ng-src={{images.selected.source}}>
                </div>
                <div class="arrow-container">
                    <span class="glyphicon glyphicon-chevron-right col-xs-1" ng-click="images.nextBig()"></span>
                </div>

                <div>
                    <ul>
                        <li><label>Title: </label> {{images.selected.name}}</li>
                        <li><label>Description: </label> {{images.selected.description}}</li>
                        <li><label>Source: </label> {{images.selected.source}}</li>
                    </ul>
               </div>
            </div>
        </div>

        <div id="gallery-thumbs">
            <div class="arrow-container">
                <span class="glyphicon glyphicon-chevron-left" ng-click="images.prevThumb()"></span>
            </div>
            <div  class="thumbs" ng-repeat="image in images.value" ng-if="images.displayHead($index)">
                <img class="thumb" ng-src="{{image.source}}" ng-click="images.select($index)"/>
            </div>
            <div class="thumbs" ng-repeat="image in images.value" ng-if="images.displayTail($index)">
                <img class="thumb" ng-src="{{image.source}}" ng-click="images.select($index)"/>
            </div>
            <div class="arrow-container">
                 <span class="glyphicon glyphicon-chevron-right" ng-click="images.nextThumb()"></span>
            </div>
        </div>
    </div>

        <div class="aside col-xs-12 container-fluid">
            <div class="config col-xs-4 pull-left">
                <h2>config:</h2> <br>
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left">Select number of thumbnails to display:</label>
                <div class="col-xs-12 col-lg-3">
                    <input type="number" class="form-control" min="1" max="{{images.value.length-1}}" ng-model="thumbSize">
                </div>
            </div>

            <div class="col-xs-4">
                <div><h4>Sample JSON object from witch data gathered:</h4></div>
                <textarea class="form-control " rows="5" ng-model="mock"></textarea>
            </div>
        </div>
        <div class="blank">
        </div>
    </div>
</div>
    