#gallery{
    background-color: #e9e6dc;
}

.thumb{
     width: 100px;
     height: 100px;
     float: left;
     cursor: pointer;
 }

.main{
    width: 500px;
    height: 500px;
}

.config {
    display: inline-block;
    float: none;
}

.nav{
    clear: left;
}

.aside{
    bottom: 0px;
    width:100%;
    position: fixed;
    background-color: #dcd9cf;
    padding-left: 200px;
    padding-bottom:50px;
}
.big-image-container{
    display: table;
}
#gallery-container{
    margin-left: 200px;
    width: 600px;
    display: inline-block;
}
.big-image-container{
    width: 600px;
    height: 500px;
    margin-bottom:20px;
}
.big-image > *{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.gallery-container{
    padding-left: 200px;
    width: 600px;
}

.thumbs {
    display:table-cell;
    position: relative;
}

.arrow-container{
    display:table-cell;
    vertical-align:middle;

}
.arrow-container > *{
    font-size:20px;
    cursor: pointer;
}

#gallery-thumbs{
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.blank{
    height:300px;
}